<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Hello Admin</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <td>Your FullName:</td>
            <td th:text="${admin.getFullName()}"></td>
        </tr>
        <tr>
            <td>UserName:</td>
            <td th:text="${userDetail.getUsername()}"></td>
        </tr>
        <tr>
            <td>PassWord:</td>
            <td th:text="${userDetail.getPassword()}"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
            <span th:if="${admin.getStatus()==1}">Active</span>
            <span th:unless="${admin.getStatus()==1}">Inactive</span>
            </td>
        </tr>
        <tr><button class="btn btn-primary"><a th:href="@{/admin/change/infor}" style="color: white; text-decoration: none">Change Information</a></button></tr>
    </table>

</div>
</body>
</html>