<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 sec:authorize="isAuthenticated()">Hello
        <span sec:authentication="principal.username"></span>
    </h2>
    <table class="table table-bordered table-striped">
        <tr>
            <td>Your FullName:</td>
            <td th:text="${user.getFullName()}"></td>
        </tr>
        <tr>
            <td>UserName:</td>
            <td th:text="${user.getUsername()}"></td>
        </tr>
        <tr>
            <td>PassWord:</td>
            <td th:text="${user.getPassword()}"></td>
        </tr>
        <tr><button class="btn btn-primary"><a th:href="@{/user/change/infor}" style="color: white; text-decoration: none">Change Information</a></button></tr>
    </table>

</div>
</body>
</html>