<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="js_And_css_Lib/js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.twbsPagination.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <div>
            <form action="#" method="get" th:each="product,iterStat : ${productList}" th:class="${iterStat.odd}? 'odd'">
                <div class="snipcart-thumb">
                    <a href="#"><img title=" " alt=" " th:src="@{'/i/' + ${product.getProductImage()}}" /></a>
                    <p th:text="${product.getProductName()}"></p>
                    <b><span></span></b>
                </div>
                <fieldset>
                    <input type="submit" name="submit" value="Add to cart" class="button" />
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>