<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Delete This Book</h1>
    <h2>Are you sure?</h2>
    <p>
        <button class="btn btn-success"><a th:href="@{/admin/BookList}" style="color: white;text-decoration: none">View Book list</a></button>
    </p>
    <form th:action="@{/admin/delete-book}" th:object="${book}" method="post">
        <table class="table table-striped table-bordered">
            <tr>
                <td><input type="hidden" th:field="*{id}"></td>
            </tr>
            <tr>
                <td>Book Code:</td>
                <td><input type="text" th:field="*{code}"/></td>
            </tr>
            <tr>
                <td>Book Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Book Detail:</td>
                <td><input type="text" th:field="*{detail}"/></td>
            </tr>
            <tr>
                <td>Book Language:</td>
                <td><input type="text" th:field="*{language}"/></td>
            </tr>
            <tr>
                <td>Book Price:</td>
                <td><input type="text" th:field="*{price}"/></td>
            </tr>
            <tr>
                <td>Book Quantity:</td>
                <td><input type="text" th:field="*{quantity}"/></td>
            </tr>
            <tr>
                <td>Book Status:</td>
                <td><input type="text" th:field="*{status}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-primary" type="submit">Delete Book</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>