<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Change</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" >
    <div style="top: 15px">

        <div style="width:700px">
            <form th:action="@{/admin/edit-user}" th:object="${user}"  method="POST">
                <div style="font-size: 25px;text-align: center;position: relative; top:10px"><p>Form for change information</p></div>
                <p th:if="${message}">
                    <span th:text="${message}" style="color: green"></span>
                </p>
                <div class="form-group">
                    <p><input class="form-control" th:type="hidden" name="id" th:field="*{id}"><br></p>
                </div>

                <div class="form-group">
                    <label class="control-label">FullName:</label>
                    <input type="text" class="form-control"  name="fullName" th:value="${user.getFullName()}">
                </div>

                <div>
                    <label class="control-label">UserName:</label>
                    <input type="text" class="form-control"  name="username" th:value="${user.getUsername()}">
                </div>

                <div>
                    <label class="control-label">Password:</label>
                    <input class="form-control" type="text" name="password" th:value="${user.getPassword()}">
                </div>
                <div>
                    <label class="control-label">Status:</label>
                    <input class="form-control"  type="text" name="status" th:value="${user.getStatus()}" th:field="*{status}"><br>
                </div>
                <!--                <tr>-->
                <!--                    <td>-->
                <!--                        <input type="text" name="roleList" th:text="${user.getRoleList()}" style="visibility: hidden"><br>-->
                <!--                    </td>-->
                <!--                </tr>-->

                <div>
                    <button id="change" onclick="myFunction()" class="btn btn-primary" type="submit" style="margin-right: 15px">Change</button>
                    <span><button class="btn btn-primary"><a th:href="@{/admin/welcome}" style="color: white; font-weight: bold; text-decoration: none">return to homepage</a></button></span>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    let show = document.querySelector("#show");
    let button = document.querySelector("#change");
    function myFunction(){
        setTimeout(200000,show.style.display = "block")
    }
    button.onmouseleave=()=>{
        show.style.display = 'block';
    }

</script>
</body>
</html>